@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+TC:wght@400;700&display=swap');
@font-face {
	font-family: MonumentExtended;
	src: url('../font/PPMonumentExtended-Regular.otf');
}
@font-face {
	font-family: PilotCommand;
	src: url('../font/pilotcommand1_2ital.ttf');
}

body{
    font-family: 'Noto Sans', 'Noto Sans TC', MonumentExtended,'Montserrat', PilotCommand, sans-serif;
}