
body{
    background-color: $neutral-5;
}

.flex-x{
    display: flex;
}

.desktop-hidden{
    display: none;
    @include mobile{
        display: block;
    }
}
.mobile-hidden{
    // display: block;
    @include mobile{
        display: none;
    }
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    @include mobile{
        max-width: 375px;
    }
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.ml-4{
    margin-left: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px !important;
}
.mb-32{
    margin-bottom: 32px;
}
p{
    margin: 0; //處理p原本會有上下margin的問題
}

.order-0{
    order: 0;
}
.order-1{
    order: 1;
}
.sm-order-0{
    @include mobile{
        order: 0;
    }
}
.sm-order-1{
    @include mobile{
        order: 1;
    }
}